# Ignore everything containing secrets (including hidden files)…
*.env
*backup.env*

# … and explicitly mention exemptions, to avoid leaks.
!.gitignore
!.editorconfig
!.prettierrc.json
!.prettierignore

# Also don't upload all dependencies (like 300 MB lol)
node_modules/

old/*

Config.mjs
test.mjs
playerNamesUpdated.json
data/playerNames.json
generalDatabase.json

debug - Copy.ps1
logs/
TODO.md
