# Ignore everything containing secrets…
*.env
Config.mjs

# Also don't upload all dependencies (like 300 MB lol)
node_modules/

# Individual to each contributor:
TODO.md
data/playerNames.json
# However, explicitly do not ignore "canonical" allowlist database:
!data/backup-PlayerNames.json

# Ignore legacy stuff
old/*
data/playerNamesUpdated*.json
data/playerNamesOld*.json


test.mjs
data/generalDatabase.json

debug - Copy.ps1
logs/
